.button{
    width: 40%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: black;
        transform: scale(1.01);
    }
}

.google-button{
    background-color: #4285f4;
    
    &:hover{
        background-color: #357ae8;
    }
}

.invert{
    width: 75%;

    &:hover{
        background-color: rgba(255, 255, 255, 0.86);
        color: black;
    }
}

.cart{
    width: 90%;
}