.collection-preview{
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &:first-child{
        padding-top: 0px
    }

    .title{
        font-size: 22px;
        font-style: bold;
    }

    .preview{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}