.collection-preview{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
/*     align-items: center; */

    &:first-child{
        padding-top: 0px
    }

    .title{
        font-size: 22px;
        font-style: bold;
        align-self: center;
    }

    .preview{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}