.checkout-item{
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .checkout-image-item{
        width: 21%;
        
        img{
            width: 60%;
            height: 60%;
        }
    }

    .checkout-data-item{
        width: 21%;

        .checkout-item-quantity{
            padding: 0 5px;
        }
    }   

    .checkout-remove-item{
        width: 8%
    }
}

.pointer{
    cursor: pointer;
}